@import "~bootstrap/scss/bootstrap";

body {
    font-family: "Roboto", sans-serif;
    background-color: #1c1c1c;
    font-size: 12px;
}

header#header-app {
    @import './partials/header';
}

footer#footer-app {
    @import './partials/footer';
}
