@import "~bootstrap/scss/bootstrap";

header {
    div.bg-color-page {
        background-color: #ffffff;
    }

    .width-container {
        max-width: 1700px;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
    }


    img {
        width: 77%;
        padding-top: 1rem;
    }

    .navbar {
        display: flex;
        align-items: center;


        ul {
            display: flex;

            li {
                padding: 0.75rem;
                font-weight: 500;
                padding-top: 3rem;


                &.active {
                    color: #517ef9;
                    border-bottom: 5px solid #517ef9;
                    padding-bottom: 3.5rem;

                }

                a:hover {
                    color: #0282f9;
                }

            }
        }
    }
}
